@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root {
  --cor-principal: rgb(26, 113, 114);
  --cor-secundaria: rgb(26, 113, 114);
  --cor-destaque: rgba(49, 46, 46, 0.486);
}

body {
  font-family: 'Chakra Petch', sans-serif;
}

h1, h2, h5 {
  color: var(--cor-secundaria);
  font-weight: 700;
}

footer a {
  color: var(--cor-principal);
}

footer a:hover {
  color: var(--cor-destaque)
}
