@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root {
  --cor-principal:rgb(255, 232, 255);
  --cor-secundaria: white;
  --cor-destaque: rosa;
}

body {
  font-family:"chakra petch" , sans-serif;
}

h1, h2, h5 {
  color: var(--cor-secundaria);
  font-weight: 700;
}

footer a:houver {
  color:var (--cor-principal);
}
